.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 9999;
  max-width: 300px; /* Example max-width */
  word-break: break-word; /* Allow word wrapping */
  height: 145px;
  width: 220px;
}

.slidecontainer {
  margin: auto;
  display: flex;
  justify-content: center;
}

.slider {
  width: 500px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
