.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 9999;
  max-width: 300px; /* Example max-width */
  word-break: break-word; /* Allow word wrapping */
  height: 145px;
  width: 220px;
}

.slidecontainer {
  margin: auto;
  display: flex;
  justify-content: center;
}

.slider {
  width: 500px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  cursor: pointer;
  width: 150px;
  text-transform: capitalize;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  width: 100%;
  display: block;
  position: absolute;
  background-color: #a4c8e0;
  margin: 10px 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  line-height: 1rem;
}

/* Links inside the dropdown */
.dropdownContent p {
  width: 100%;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 2px 20px;
  margin: 0.5rem auto;
}

/* Change color of dropdown links on hover */
.dropdownContent p:hover {
  background-color: #64a4ce;
  cursor: pointer;
}

.butt:hover {
  background-color: #64a4ce;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
